

{% extends "base.html"%}
{% load static %}
{% load user_agents %}
{% block content %}
</div>
   <div class="elements ptb-80 text-center  ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-50">
                            <h2><span>Register</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            {% if request|is_pc %}
     <div class="contact-form-info text-center ptb-100 white_bg">
            <div style="padding-left: 300px;"   class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="contact-form" style="padding-left: 20% 30%">
                            <div class="contact-form-title mb-10">

                            </div>
                            <div class="contact-form-inner">
                                <form method="post">{% csrf_token %}
                                    <div class="form-field-top mb-20">
                                        <div class="form-field-name">
                                            <input name="name" type="text" placeholder="Name">
                                        </div>
                                        <div class="form-field-name">
                                            <input name="mobile" maxlength="10" type="tel" placeholder="Mobile">
                                        </div>
                                    </div>
                                    <div class="form-field-top mb-20">
                                        <div class="form-field-name">
                                            <input name="email" type="email" placeholder="Email">
                                        </div>
                                        <div class="form-field-name">
                                            <input name="pass1" type="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-field-bottom">
                                        <div class="submit mt-30"><button type="submit">Register</button></div>
                                    </div>
                                </form>
                            </div>
                             <div class="contact-form-title pt-100" >
                                        <span>If You Created Your Account  <a href="{% url 'login' %}">Sign In</a> Here</span>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endif %}


            <div class="mobile hidden-lg hidden-md">
            <div class="container">
                 <div class="contact-form-info text-center ptb-100 white_bg">
            <div  style="align-items: center; padding-left: 30% 30%" class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="contact-form">
                            <div class="contact-form-title mb-10">

                            </div>
                            <div class="contact-form-inner">
                                <form method="post">{% csrf_token %}
                                    <div class="form-field-top mb-20">
                                        <div class="form-field-name">
                                            <input name="name" type="text" placeholder="Name">
                                        </div>
                                        <div class="form-field-name">
                                            <input name="mobile" maxlength="10" type="tel" placeholder="Mobile">
                                        </div>
                                    </div>
                                    <div class="form-field-top mb-20">
                                        <div class="form-field-name">
                                            <input name="email" type="email" placeholder="Email">
                                        </div>
                                        <div class="form-field-name">
                                            <input name="pass1" type="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-field-bottom">
                                        <div class="submit mt-30"><button type="submit">Register</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="contact-form-title pt-100" >
                                        <span>If You Created Your Account  <a href="{% url 'login' %}">Sign In</a> Here</span>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>

           
        
        </div>
       
{% endblock %}