{% extends "base.html"%}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'abt/style.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'abt/bootstrap.min.css' %}"> 
            <!--Welcome secton-->
            <!-- <div class="welcome-section text-center ptb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcurbs-inner">
                                <div class="breadcrubs">
                                    <h2>About us</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <!--Header section end-->
        <!-- search bar Start -->
        <div class="search-bar animated slideOutUp">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="search-form-wrap">
                                        <button class="close-search"><i class="mdi mdi-close"></i></button>
                                        <form action="#">
                                            <input type="text" placeholder="Search here..." value="Search here..."/>
                                            <button class="search-button" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- search bar End -->
        <!--About Section Title start-->
  <div class="about-section text-center ptb-80 white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-80">
                            <!-- <h2><span>Hotel Shevaroys</span></h2> -->
                            <h2 class="cd-headline clip">
                                
                                <span class="cd-words-wrapper coloring">
                                    <b class="is-visible"> Hotel Shevaroys</b>
                                    <b style="color: #000"> Since 1971</b>
                                </span>
                            </h2>                            <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour.</p> -->
                        </div>
                    </div>
                    <!-- <div class="col-md-12">                                            
                        <h1 class="cd-headline clip">
                            <span>THE PERFECT</span>
                            <span class="cd-words-wrapper coloring">
                                <b class="is-visible"> Heritage</b>
                                <b>Comfort</b>
                                <b>Location</b>
                                <b>Rooms</b>
                                <b>place</b>
                            </span>
                        </h1>
                    </div> -->
                </div>
            </div>
        </div>
         <!-- OUR STORY SECTION START -->
            <div class="section-full bg-gray p-tb90 ">
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-center">
                        <h2 class="m-b5">Our Story</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->                  
                    <div class="section-content our-story">
                    
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                    <div class="notification-animate">  
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="http://thewebmax.com/sharan/images/gallery/pic3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="wt-box our-story-detail">
                                    <h4>1971-79</h4>
                                    <h3 class=" m-b10">The Beginning</h3>
                                    <p>In the year 1971, Mr.N.Ramasamy Udayar, a freedom fighter and industrialist of Salem bought a British Bungalow situated amidst 14 acres of lush green coffee plantations and converted it into a guest house with just 4 rooms and a small kitchen to cater to the then rare visitor of Yercaud.</p>
                                </div>
                            </div>
                        </div> 
                         
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                    <div class="notification-animate">
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="http://thewebmax.com/sharan/images/gallery/pic3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-6 col-sm-6">
                                <div class="wt-box our-story-detail">
                                    <h4>1979-91</h4>
                                    <h3 class=" m-b10">Concept of Individual Cottages</h3>
                                    <p>At the advent of 1979, Mr. Udayar introduced the concept of individual cottages to accommodate the elite and wealthy who sought luxurious accommodation. With the commencement of 11 uniquely designed and well appointed cottages, Hotel Shevaroys set the trend of offering villa style accommodation which became the most sought after and favorable type of stay in Yercaud. By this time, Hotel Shevaroys was the first to have its own licensed permit room and added more food & beverage outlets to its portfolio.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                    <div class="notification-animate">
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="http://thewebmax.com/sharan/images/gallery/pic3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="wt-box our-story-detail">
                                    <h4>1991-94</h4>
                                    <h3 class=" m-b10">Our Journey so far</h3>
                                    <p>The year 1991 witnessed the succession of the management by Mr. R. Devadass, the third son of Mr. Ramasamy Udayar. Being a young and energetic graduate in Arts as well as Law, Mr. Devadass spruced up the operation of the entire hotel. This paved way for Hotel Shevaroys to grow leaps and bounds to be the premier hotel of Yercaud today standing with 80 rooms, 11 cottages, 4 food & beverage outlets, the majestic Lanatana convention hall and an in-house supermarket.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                    <div class="notification-animate">
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="http://thewebmax.com/sharan/images/gallery/pic3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="wt-box our-story-detail">
                                   <h4>1994</h4>
                                    <h3 class=" m-b10">Viruthambal Charitable Trust</h3>
                                    <p>The Shevaroys Viruthambal Charitable Trust was thus founded in 1994 by Mr. N. Ramsamy Udayar as Chairman and Mrs.& Mr. Devadass as Trustees to run the Shevaroys Institute of Hotel Management and Catering Technology. This Institution is one of the few to be located within the premises of a reputed hotel and today is one of the premier hospitality institutions of South India. </p>
                                </div>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-story-pic-block">
                                    <div class="notification-animate">
                                        <div class="wt-media our-story-pic wt-img-effect zoom-slow">
                                            <img src="http://thewebmax.com/sharan/images/gallery/pic3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="wt-box our-story-detail">
                                   <h4>Present</h4>
                                    <h3 class=" m-b10">Stepping Ahead</h3>
                                    <p>The hotel strives to elevate the quality of service to ensure that each guest has a pleasurable stay with us and leaves with the most memorable holiday experience ever. We wish to remain the most preferred choice of our honorable guests and continue the Shevaroys legacy for the generations to come. The Shevaroys management (fondly called The Shevs) is a family and we hope to spread our joy and warmth to all our guests assuring that Shevaroys hospitality is always at its best. </p>
                                </div>
                            </div>                            
                        </div>
                                                            
                    </div>
                </div>
                
                
            </div>   
            <!-- OUR STORY SECTION END -->  


        <!--About Section end-->
        <!--Hotel Exlusive offer start-->
        <!-- <div class="hotel-exclusive ptb-100 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-exclusive">
                            <h3>Exclusive</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-exclusive">
                            <h3>Complimentary</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-exclusive">
                            <h3>Earn Points</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-exclusive">
                            <h3>Join For Free</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--Hotel Exlusive offer end-->
        <!--Hotel feature start-->
        <!-- <div class="hotel-feature pt-80 white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-desc text-left">
                            <div class="section-title mb-30">
                                <h2>Feature <span>chondo</span></h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected huor randomised words which don't look even slightly believable. If you are going to useassage of Lorem Ipsum, you need to be sure thereng en in the middle of text</p>
                            </div>
                            <div class="feature-item">
                                <ul>
                                    <li>
                                        <span>1.</span>But the majority have suffered alteration in some.
                                    </li>
                                    <li>
                                        <span>2.</span>Useassage of Lorem Ipsum, you need to be sure thereng .
                                    </li>
                                    <li>
                                        <span>3.</span>Ay injected huor randomised words which don't .
                                    </li>
                                    <li>
                                        <span>4.</span>By sage of Lorem Ipsum, you need to be sure thereng en in the.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-img-tab">
                            <div class="feature-tab-desc">
                                <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="feature1">
                                <div class="feature-tab-inner">
                                    <img src="{% static 'images/services/services6.jpg' %}" alt="">
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature2">
                                <div class="feature-tab-inner">
                                    <img src="{% static 'images/services/services7.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                            </div>
                            <div class="feature-tab-item">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#feature1" data-toggle="tab"><img src="{% static 'images/services/tab-1.jpg' %}" alt=""></a></li>
                                    <li><a href="#feature2" data-toggle="tab"><img src="{% static 'images/services/tab-2.jpg' %}" alt=""></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--Hotel feature end-->
        <!--Our staff start-->
        <!-- <div class="our-staff text-center ptb-80 white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-80">
                            <h2>our <span>team</span></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="staff-list">
                    <div class="row">
                        <div class="carousel-list">
                            <div class="col-md-4">
                                <div class="single-staff">
                                    <div class="sraff-inner">
                                        <img src="{% static 'images/staff/staff1.jpg' %}" alt="">
                                        <div class="staff-title">
                                            <span class="plus"></span>
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>

                                        </div>
                                        <div class="staff-hover-desc">
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>
                                            <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr.</p>
                                            <div class="scoial_icons">
                                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                                <a href="#"><i class="mdi mdi-rss"></i></a>
                                                <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                                <a href="#"><i class="mdi mdi-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-staff">
                                    <div class="sraff-inner">
                                        <img src="{% static 'images/staff/staff2.jpg' %}" alt="">
                                        <div class="staff-title">
                                            <span class="plus"></span>
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>

                                        </div>
                                        <div class="staff-hover-desc">
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>
                                            <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr.</p>
                                            <div class="scoial_icons">
                                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                                <a href="#"><i class="mdi mdi-rss"></i></a>
                                                <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                                <a href="#"><i class="mdi mdi-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-staff">
                                    <div class="sraff-inner">
                                        <img src="{% static 'images/staff/staff3.jpg' %}" alt="">
                                        <div class="staff-title">
                                            <span class="plus"></span>
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>

                                        </div>
                                        <div class="staff-hover-desc">
                                            <h2>Soleman</h2>
                                            <h5>hotel staff</h5>
                                            <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr.</p>
                                            <div class="scoial_icons">
                                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                                <a href="#"><i class="mdi mdi-rss"></i></a>
                                                <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                                <a href="#"><i class="mdi mdi-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            
                        </div>
                    </div>
                </div>
            </div>

        </div> -->
        <!--Our staff end-->
        <!--Testimonial start-->
        <!-- <div class="staff-tesimonial text-center ptb-140">
            <div class="testimonail-bg-opacity"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial-list">
                            <div class="single-testimonial">
                                <h2>Louis Smith</h2>
                               <p>There are many variations of passages of Lorem I available, but the majority have suffered alteration in som, d humour, or randomised words which
    </p>
                            </div>
                            <div class="single-testimonial">
                                <h2>Louis Smith</h2>
                               <p>There are many variations of passages of Lorem I available, but the majority have suffered alteration in som, d humour, or randomised words which
    </p>
                            </div>
                            <div class="single-testimonial">
                                <h2>Louis Smith</h2>
                               <p>There are many variations of passages of Lorem I available, but the majority have suffered alteration in som, d humour, or randomised words which
    </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div> -->
        <!--Testimonial end-->
        <!--hotel team start-->
        <!--hotel team end-->
{% endblock %}