{% extends "base.html"%}
{% load static %}
{% block content %} 
            <!--Welcome secton-->
            <!-- <div class="welcome-section text-center ptb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcurbs-inner">
                                <div class="breadcrubs">
                                    <h2>Book Your Hall</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--Header section end-->
        <!-- search bar Start -->
        <div class="search-bar animated slideOutUp">
            <div class="table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="search-form-wrap">
                                    <button class="close-search"><i class="mdi mdi-close"></i></button>
                                    <form action="#">
                                        <input type="text" placeholder="Search here..." value="Search here..."/>
                                        <button class="search-button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search bar End -->
        <!--Room Section Title start-->
        <div class="elements ptb-80 text-center white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-50">
                            <h2>Conference <span>Hall</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <!--Room elements start-->
            <div class="our-room-show room-section">
                <div class="container">
                    <div class="row">
                        <div class="our-room-list owl-pagination">
                            <div class="single-room-sapce">
                                <div class="col-md-4 col-sm-6 col-xs-12 col-sm-6 col-xs-12">
                                    <div class="single-room mb-80">
                                        <div class="room-img">
                                        <a href="#"><img src="{% static 'images/hall/1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="room-desc">
                                        <div class="room-name">
                                            <h3><a href="#">Lantana Hall</a></h3>
                                        </div>
                                        <div class="room-rent">
                                            <!-- <h5>INR 6700 <span>+ Taxes /Per day</span></h5> -->
                                        </div>
                                        <div class="room-book">
                                            <a href="tel:+919944999569">Enquiry Now</a>
                                        </div>
                                       <!--  <font size="100"><i class="icofont-ui-wifi"></i></font> -->
                                       <br><br>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Coffee"><img  src="{% static 'images/icon/1.png' %}"></a>&emsp;&emsp;|&emsp;&emsp;
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="wifi"><img  src="{% static 'images/icon/3.png' %}"></a>&emsp;&emsp;|&emsp;&emsp;
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Audio set"><img  src="{% static 'images/icon/5.png' %}"></a>&emsp;&emsp;|&emsp;&emsp;
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Projector"><img  src="{% static 'images/icon/6.png' %}"></a>
                                    </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Room elements end-->
            
        

       
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb-80">
                    <h2>Gall<span>ery</span></h2>
                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour.</p> -->
                </div>
            </div>
        </div>
        
       
        <div class="body1 column-12 tab column-xs-12">
            <div class="custom-row">
              <div class="col-md-4">
                <div class="single_gallery_inner effect grid-width3 effect-four">
                    <a href="{% static 'images/hall/1.jpg' %}">
                        <img src="{% static 'images/hall/1.jpg' %}">
                        <div class="tab-text">                    
                         <!-- <p>Biggest vocational training projects which impacts </p> -->
                     </div>
                 </a>                 
             </div>
         </div>
         <div class="col-md-4">
            <div class="single_gallery_inner effect grid-width3 effect-four">
                <a href="{% static 'images/hall/2.jpg' %}">
                    <img src="{% static 'images/hall/2.jpg' %}">
                    <div class="tab-text">                    
                     <!-- <p>Biggest vocational training projects which impacts </p> -->
                 </div>
             </a>                 
         </div>
     </div>
     <div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/3.jpg' %}">
            <img src="{% static 'images/hall/3.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
 <div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/4.jpg' %}">
            <img src="{% static 'images/hall/4.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/5.jpg' %}">
            <img src="{% static 'images/hall/5.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/6.jpg' %}">
            <img src="{% static 'images/hall/6.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/7.jpg' %}">
            <img src="{% static 'images/hall/7.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/8.jpg' %}">
            <img src="{% static 'images/hall/8.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/9.jpg' %}">
            <img src="{% static 'images/hall/9.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->             
         </div>
     </a>                 
    </div>
</div>

<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/11.jpg' %}">
            <img src="{% static 'images/hall/11.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/12.jpg' %}">
            <img src="{% static 'images/hall/12.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/13.jpg' %}">
            <img src="{% static 'images/hall/13.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>
<div class="col-md-4">   
    <div class="single_gallery_inner effect grid-width3 effect-four">
        <a href="{% static 'images/hall/14.jpg' %}">
            <img src="{% static 'images/hall/14.jpg' %}">
            <div class="tab-text">                    
             <!-- <p>Biggest vocational training projects which impacts </p> -->
         </div>
     </a>                 
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
             
        <!--skill Elementts end-->
        <!--Room Section end-->
        <!--hotel team start-->
       
        <!--hotel team end-->
{% endblock %}