{% extends "base.html"%}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'abt/style.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'abt/bootstrap.min.css' %}"> 
            <!--Welcome secton-->
            <!-- <div class="welcome-section text-center ptb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcurbs-inner">
                                <div class="breadcrubs">
                                    <h2>About us</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <!--Header section end-->
        <!-- search bar Start -->
        <div class="search-bar animated slideOutUp">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="search-form-wrap">
                                        <button class="close-search"><i class="mdi mdi-close"></i></button>
                                        <form action="#">
                                            <input type="text" placeholder="Search here..." value="Search here..."/>
                                            <button class="search-button" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- search bar End -->
        <!--About Section Title start-->
  <div class="about-section text-center ptb-80 white_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-80">
                            <!-- <h2><span>Hotel Shevaroys</span></h2> -->
                            <h2 class="cd-headline clip">
                                
                                <span class="cd-words-wrapper coloring">
                                    <b class="is-visible"> Hotel Shevaroys</b>
                                    <b > Privacy Policy</b>
                                </span>
                            </h2>                            

                        </div>
                        <p style="text-align: justify;">This Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and protection of your information when you use our website located at Shevaroys.in, or the Shevaroys mobile application (collectively, “Shevaroys Platform”) made available by i18n Solutions (“Shevaroys”, “Company”, “we”, “us” and “our”),  a private company located at No 3A, Permanur Main Road, Salem, Tamilnadu, 636007.</p>
                        <br>
                        <p style="text-align: justify;">The terms “you” and “your” refer to the user of the Shevaroys Platform. The term “Services” refers to any services offered by Shevaroys whether on the Shevaroys Platform or otherwise.</p>
                        <br>
                        <p style="text-align: justify;">Please read this Policy before using the Shevaroys Platform or submitting any personal information to Shevaroys. This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">YOUR CONSENT</h4>
                        <p style="text-align: justify;">By using the Shevaroys Platform and the Services, you agree and consent to the collection, transfer, use, storage, disclosure and sharing of your information as described and collected by us in accordance with this Policy.  If you do not agree with the Policy, please do not use or access the Shevaroys Platform.</p>
                        <br>                        
                        <h4 style="text-align: justify; font-weight: bold;">POLICY CHANGES</h4>
                        <p style="text-align: justify;">We may occasionally update this Policy and such changes will be posted on this page. If we make any significant changes to this Policy we will endeavour to provide you with reasonable notice of such changes, such as via prominent notice on the Shevaroys Platform or to your email address on record and where required by applicable law, we will obtain your consent. To the extent permitted under the applicable law, your continued use of our Services after we publish or send a notice about our changes to this Policy shall constitute your consent to the updated Policy.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">LINKS TO OTHER WEBSITES</h4>
                        <p style="text-align: justify;">The Shevaroys Platform may contain links to other websites. Any personal information about you collected whilst visiting such websites is not governed by this Policy. Shevaroys shall not be responsible for and has no control over the practices and content of any website accessed using the links contained on the Shevaroys Platform. This Policy shall not apply to any information you may disclose to any of our service providers/service personnel which we do not require you to disclose to us or any of our service providers under this Policy.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">INFORMATION WE COLLECT FROM YOU</h4>
                        <p style="text-align: justify;"> We will collect and process the following information about you:  Information you give us - This includes information submitted when you:</p>
                        
                        <p style="text-align: justify;"> 1.Create or update your Shevaroys account, which may include your name, email, phone number, login name and password, address, payment or banking information and profile picture.</p>
                        <p style="text-align: justify;"> 2.Provide content to us, which may include reviews, ordering details and history and other information you provide on the Shevaroys Platform (“Your Content”).</p>
                        <p style="text-align: justify;"> 3.Use our Services, we may collect and store information about you to process your requests and automatically complete forms for future transactions, including (but not limited to) your phone number, address, email, billing information and credit or payment card information.</p>
                        <p style="text-align: justify;">4.Correspond with Shevaroys for customer support.</p>
                        <br>
                         <h4 style="text-align: justify; font-weight: bold;">Information we collect about you</h4>
                        <p style="text-align: justify;"> With regard to each of your visits to the Shevaroys Platform, we will automatically collect and analyse the following demographic and other information:</p>
                        
                        <p style="text-align: justify;"> 1.When you communicate with us (via email, phone, through the Shevaroys Platform or otherwise), we may maintain a record of your communication;</p>
                        <p style="text-align: justify;"> <strong> 2.Location information:</strong>  Depending on the Services that you use, and your app settings or device permissions, we may collect your real time information, or approximate location information as determined through data such as GPS, IP address;</p>
                        <p style="text-align: justify;"><strong>  3.Usage and Preference Information:</strong> Website use tracking technology and cookie depending on features offered. Cookie and technology tracking is useful in gathering information such as browser type and operating system, number of visitors tracking to website and understanding how visitors use your website. Cookies will help to customize the website for visitors. Your personal information will not be collected through cookies and track technologies if provided personally to be identifying information, cookies will be tied to such information. Aggregate cookies and tracking information is to be shared with third parties.</p>
                        <p style="text-align: justify;"><strong> 4.Transaction Information: </strong>We collect transaction details related to your use of our Services, and information about your activity on the Services, including the full Uniform Resource Locators (URL), the type of Services you requested or provided, comments, domain names, search results selected, number of clicks, information and pages viewed and searched for, the order of those pages, length of your visit to our Services, the date and time you used the Services, amount charged, details regarding application of promotional code, methods used to browse away from the page and any phone number used to call our customer service number and other related transaction details;</p>
                        <p style="text-align: justify;"><strong> 5.Device Information:</strong>We may collect information about the devices you use to access our Services, including the hardware models, operating systems and versions, software, file names and versions, preferred languages, unique device identifiers, advertising identifiers, serial numbers, device motion information and mobile network information. Analytics companies may use mobile device IDs to track your usage of the Shevaroys Platform; </p>
                        <p style="text-align: justify;"><strong> 6.Stored information and files:</strong>Shevaroys mobile application (Shevaroys app) may also access metadata and other information associated with other files stored on your mobile device. This may include, for example, photographs. If you permit the Shevaroys app to access the file storage on your device, we may collect picture from your file storage to facilitate social interactions through our services and for other purposes described in this Policy or at the time of consent or collection </p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">COOKIES</h4>
                        <p style="text-align: justify;">Website use tracking technology and cookie depending on features offered. Cookie and technology tracking is useful in gathering information such as browser type and operating system, number of visitors tracking to website and understanding how visitors use your website. Cookies will help to customize the website for visitors. Your personal information will not be collected through cookies and track technologies if provided personally to be identifying information, cookies will be tied to such information. Aggregate cookies and tracking information is to be shared with third parties.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">USES OF YOUR INFORMATION</h4>
                        <p style="text-align: justify;">We use the information we collect for following purposes, including:</p>
                        <p style="text-align: justify;">1.To provide, personalise, maintain and improve our products and services, such as to enable deliveries and other services, enable features to personalise your Shevaroys account;
                            <br>
                            2.To carry out our obligations arising from any contracts entered into between you and us and to provide you with the relevant information and services;
                            <br>
3.To administer and enhance the security of our Shevaroys Platform and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
<br>
4.To provide you with information about services we consider similar to those that you are already using, or have enquired about, or may interest you. If you are a registered user, we will contact you by electronic means (e-mail or SMS or telephone) with information about these services;
<br>
5.To understand our users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to your interests), process and complete your transactions, make special offers, provide customer support, process and respond to your queries;
<br>
6.To generate and review reports and data about, and to conduct research on, our user base and Service usage patterns;
<br>
7.To allow you to participate in interactive features of our Services, if any; or
<br>
8.To measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you.
<br>
9.If you are a partner delivery partner, to track the progress of delivery or status of the order placed by our customers.
<br>
10.to carry out academic research with academic partners.</p>
                       
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">DISCLOSURE AND DISTRIBUTION OF YOUR INFORMATION</h4>
                        <p style="text-align: justify;">We may share your information that we collect for following purposes:</p>
                        <p style="text-align: justify;"><strong>With Delivery Partner:</strong>While you place a request to order meat through the Shevaroys Platform, your location information is provided to us and to the delivery men. In order to facilitate your online meat order processing, we provide your location information to that delivery men in a similar manner . This data is used to calculate your distance from us and to calculate delivery charge  and helps the delivery men to find your location at ease.</p>
                        <p style="text-align: justify;"><strong>With Other Users:</strong>If you are a delivery partner, we may share your name, phone number and/or profile picture (if applicable), tracking details with other users to provide them the Services.</p>
                        <p style="text-align: justify;"><strong>For Crime Prevention or Investigation:</strong></p>
                        <p style="text-align: justify;">We may share this information with governmental agencies or other companies assisting us, when we are:</p>
                        <p style="text-align: justify;">Obligated under the applicable laws or in good faith to respond to court orders and processes; or Detecting and preventing against actual or potential occurrence of identity theft, fraud, abuse of Services and other illegal acts;Responding to claims that an advertisement, posting or other content violates the intellectual property rights of a third party;Under a duty to disclose or share your personal data in order to enforce our Terms of Use and other agreements, policies or to protect the rights, property, or safety of the Company, our customers, or others, or in the event of a claim or dispute relating to your use of our Services. This includes exchanging information with other companies and organisations for the purposes of fraud detection and credit risk reduction.</p>
                        <p style="text-align: justify;"><strong>For Internal Use:</strong>We may share your information with any present or future member of our “Group” (as defined below)or affiliates for our internal business purposes The term “Group” means, with respect to any person, any entity that is controlled by such person, or any entity that controls such person, or any entity that is under common control with such person, whether directly or indirectly, or, in the case of a natural person, any Relative (as such term is defined in the Companies Act, 1956 and Companies Act, 2013 to the extent applicable) of such person.</p>
                        <p style="text-align: justify;"></p>
                        <p style="text-align: justify;"><strong></strong></p>
                        <p style="text-align: justify;"><strong></strong></p>
                        <p style="text-align: justify;"><strong></strong></p>

                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">DATA SECURITY PRECAUTIONS</h4>
                        <p style="text-align: justify;">We have in place appropriate technical and security measures to secure the information collected by us.
We will do our best to protect your personal data, we cannot guarantee the security of your data transmitted through the Shevaroys Platform. Once we have received your information, we will use strict physical, electronic, and procedural safeguards to try to prevent unauthorised access.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">OPT-OUT</h4>
                        <p style="text-align: justify;">When you sign up for an account, you are opting in to receive emails from Shevaroys. You can log in to manage your email preferences [here] or you can follow the “unsubscribe” instructions in commercial email messages, but note that you cannot opt out of receiving certain administrative notices, service notices, or legal notices from Shevaroys</p>
                        <br>
                        <p style="text-align: justify;">If you wish to withdraw your consent for the use and disclosure of your personal information in the manner provided in this Policy, please write to us at [•]. Please note that we may take time to process such requests, and your request shall take effect no later than 5 (Five) business days from the receipt of such request, after which we will not use your personal data for any processing unless required by us to comply with our legal obligations. We may not be able offer you any or all Services upon such withdrawal of your consent.</p>
                        <br>
                        <h4 style="text-align: justify; font-weight: bold;">GRIEVANCE OFFICER AND Shevaroys PLATFORM SECURITY</h4>
                        <p style="text-align: justify;">If you have any queries relating to the processing or usage of information provided by you in connection with this Policy, please email us at i18nsolutions@gmail.com or write to our Grievance Officer at the following address:
                            <br><br> <strong>Shevaroys Grievance Officer </strong>, No 3A, Permanur Main Road, Salem, Tamilnadu. 636007.</p>
                         <p style="text-align: justify;">If you come across any abuse or violation of the Policy, please report to i18nsolutions@gmail.com</p>  
                         <br>
                          <p style="text-align: justify;">Further, please note that the Shevaroys Platform stores your data with the cloud platform of Firebase Realtime Database provided by Google, Inc., which may store this data on their servers located outside of India. Firebase has security measures in place to protect the loss, misuse and alteration of the information, details of which are available at  https://aws.amazon.com/. The privacy policy adopted by Amazon Web Services are detailed in https://firebase.google.com/. In the event you have questions or concerns about the security measures adopted by Firebase, you can contact their data protection / privacy team / legal team or designated the grievance officer at these organisations, whose contact details are available in its privacy policy, or can also write to our Grievance Officer at the address provided above.</p> 
                        <br>
                       

                    </div>
                   
                </div>
            </div>
        </div>
         


{% endblock %}