{% extends "base.html"%}
{% load static %}
{% block content %}
</div>
<script type="text/javascript">
   //exporte les données sélectionnées
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

    var trBoldBlue = $("table");

    $(trBoldBlue).on("click", "tr", function (){
        $(this).toggleClass("bold-blue");
    });
</script>
<div class="elements ptb-80 text-center  ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb-50">
                    <h2>My  <span>Previous Booking</span> List</h2>
                </div>
            </div>
        </div>
    </div>
          
    <div class="hotel-team white_bg">
        <div class="container">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b style="text-align: center;">Booking Id</b></td>
                            <td><b style="text-align: center;">User</b></td>
                            <td><b style="text-align: center;">Room</b></td>
                            <td><b style="text-align: center;">Total Rooms</b></td>
                            <td><b style="text-align: center;">Adult</b></td>
                            <td><b style="text-align: center;">Kids</b></td>
                            <td><b style="text-align: center;">Check in</b></td>
                            <td><b style="text-align: center;">Check out</b></td>
                            <td><b style="text-align: center;">Payment ID</b></td>
                            <td><b style="text-align: center;">Payment Status</b></td>
                            <td><b style="text-align: center;">CheckIn Time</b></td>
                            <td><b style="text-align: center;">CheckOut Time</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in bookings %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.roomname}}</td>
                                <td>{{i.noofroom}}</td>
                                <td>{{i.adult}}</td>
                                <td>{{i.kids}}</td>
                                <td>{{i.bookIn}}</td>
                                <td>{{i.bookOut}}</td>
                                <td>{{i.razorpay_payment_id}}</td>
                                <td style="color: green">Success</td>
                                <td style="color:blue;">{{i.checkin_time}}</td>   
                                <td style="color:blue;">{{i.checkout_time}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        
       
{% endblock %}
