

{% extends "base.html"%}
{% load static %}
{% block content %}
</div>
   <div class="elements ptb-80 text-center  ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-50">
                            <h2>Booking <span>Status</span></h2>
                        </div>
                    </div>
                </div>
            </div>
          
    <div class="hotel-team pt-100 white_bg">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <div class="row">
                            <div class="col-md-12 center" >
                                <div class="newsletter-title center" >
                                    <h2> Mr/Mrs. {{name}} Your Room Sucessfully Booked </h2>
                                    <h2> Your Order Id is {{oid}} </h2>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        
       
{% endblock %}