{% extends "dashbase1.html"%}
{% load static %}
{% block content %} 
<div class="page-wrapper">
    <div class="row page-titles">
        <div class=" align-self-center">
            <h3 class="text-themecolor mb-0"> Booking List</h3>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'superadmin1' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">Booking List</li>
            </ol>
        </div>
    </div>

    <br>
    <form method="POST" action="{% url 'search_unbookinglist1' %}" align="right">
        {% csrf_token %}
        <input type="text" name="search" class="col-md-2 col-form-label" placeholder="Search" required>
        <button type="submit" class="btn waves-effect waves-light btn-info">Search</button>         
    </form>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Unconformed Bookings</h4>
                        <br>
                        <div class="table-responsive">
                            <table id="col_render" class="table table-striped table-bordered display"
                                        style="width:100%">
                                <thead>
                                    <tr>
                                       <th>S.no</th>
                                        <th>Name</th>
                                        <th>Roomname</th>
                                        <th>No of Rooms</th>
                                        <th>Adult</th>
                                        <th>Kids</th>
                                        <th>Book In</th>
                                        <th>Book Out</th>
                                        <th>Mobile</th>
                                        <th>Amount</th>
                                        <th>Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in c %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.name}}</td>
                                            <td>{{i.roomname}}</td>
                                            <td>{{i.noofroom}}</td>
                                            <td>{{i.adult}}</td>
                                            <td>{{i.kids}}</td>
                                            <td>{{i.bookIn}}</td>
                                            <td>{{i.bookOut}}</td>
                                            <td>{{i.phone}}</td>
                                            <td>Rs. {{i.tamount}}</td>
                                            <td style="color: red">Failed</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}